.instruction {
    color: #ccff00;
    width: 80vw;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    
}


@media (max-width: 1200px) {
    .instruction {
        margin-top: 130px;
        padding-bottom: 50px;
    }
}

.instruction {
    overflow-y: scroll;
    max-height: 75vh;
 }
 .instruction::-webkit-scrollbar {
    width: 10px;
  }
  
  .instruction::-webkit-scrollbar-track {
    
    box-shadow: 0 0.1px 10px 0 #ccff00 inset, 0 0 10px 4px #ccff00;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  .instruction::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #000, #ccff00);
  }